.HeaderPaginasNavegacion-principal-container{
    background-color: #ddedf7;
    width: 100%;
    color: #52646f;
    font-family: 'Nunito', sans-serif;
}

            .HeaderPaginasNavegacion-sub-container{
                /* background-color: #4197cd; */
                display: flex;
                flex-direction: row;
                justify-content: center;
                position: relative;
            }

                    .headerPaginasNavegacion-inicioCasaLogo-texto-container {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    .headerPaginasNavegacion-inicioCasaLogo-texto-container-noHide{
                        cursor: pointer;
                    }
                            .headerPaginasNavegacion-active{
                                color: rgb(38, 139, 210);
                                position: relative;
                            }

                            .headerPaginasNavegacion-inicioCasaLogo{
                                background-image: url('../../../Images/Header/inicioCasaLogo.png');
                                background-size: cover;
                            }

                                    .inicioCasaLogo-hide{
                                        visibility: hidden;
                                    }

                            .headerPaginasNavegacion-texto-inicio{
                                color: rgb(42, 161, 152)
                            }

                            .headerPaginasNavegacion-texto{
                                white-space: nowrap; /* Evita que el texto se ajuste en varias líneas */                      
                            }

                            .headerPaginasNavegacion-texto:hover{
                                color:rgb(16, 44, 138);
                                cursor: pointer;
                            }

                            .headerPaginasNavegacion-texto:active {
                                background-color: rgb(192, 192, 192);
                                color: rgb(255, 255, 255);
                            }

.headerPaginasNavegacion_MenuDesplegable {
    position: relative;
}


/* menu desplegable proyecto */
.dropdown-menu {
    position: absolute;
    top: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.dropdown-menu.show {
    opacity: 1;
    pointer-events: auto;
    color: rgb(38, 139, 210);
}

.dropdown-menu div {
    cursor: pointer;
    transition: color 0.7s ease, background-color 0.7s ease;
}

.dropdown-menu div:hover {
    color: rgb(16, 44, 138);
    background-color: rgb(206, 222, 232);
}


.subpagina{
    background-color: #ddedf7;
}


/* menu desplegable instalaciones */
.dropdown-menu-instalaciones {
    position: absolute;
    top: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.dropdown-menu-instalaciones.show-instalaciones {
    opacity: 1;
    pointer-events: auto;
    color: rgb(38, 139, 210);
}

.dropdown-menu-instalaciones div {
    cursor: pointer;
    transition: color 0.7s ease, background-color 0.7s ease;
}

.dropdown-menu-instalaciones div:hover {
    color: rgb(16, 44, 138);
    background-color: rgb(206, 222, 232);
}


.subpagina-instalaciones{
    background-color: #ddedf7;
}






@media (max-width: 480px) {

    .HeaderPaginasNavegacion-principal-container{
        font-weight: 900;
        font-size: 6px;
        height: 1.2rem;
    }

                .HeaderPaginasNavegacion-sub-container{
                    gap: 0.5rem;
                    top: -9px;
                    padding-left: 4rem;
                }

                        .headerPaginasNavegacion-inicioCasaLogo-texto-container {
                        }

                        .headerPaginasNavegacion-inicioCasaLogo-texto-container-noHide{
                        }
                                .headerPaginasNavegacion-active{
                                    top: -3px;
                                }

                                .headerPaginasNavegacion-inicioCasaLogo{
                                    width: 14px;
                                    height: 13px;
                                }

                                        .inicioCasaLogo-hide{
                                        }

                                .headerPaginasNavegacion-texto-inicio{
                                }

                                .headerPaginasNavegacion-texto{ 
                                    padding: 1.2px;
                                    border-radius: 8px;                          
                                }

                                .headerPaginasNavegacion-texto:hover{
                                }

                                .headerPaginasNavegacion-texto:active {
                                    padding: 1.2px;
                                    border-radius: 8px;  
                                }


    /* Menu desplegable */
    .headerPaginasNavegacion_MenuDesplegable {
    }

    .dropdown-menu {
        padding: 1.5px;
        gap: 1.5px;
        left: -1rem;
    }

    /* Menú visible */
    .dropdown-menu.show {
    }

    .dropdown-menu div {
    }

    .dropdown-menu div:hover {
    }

    .subpagina{
        padding: 3px;
    }

            /* menu desplegable instalaciones */
            .dropdown-menu-instalaciones {
                width: 70px;
                padding: 1.5px;
                gap: 1.5px;
                left: -1rem;
            }

            .dropdown-menu-instalaciones.show-instalaciones {
            }

            .dropdown-menu-instalaciones div {
            }

            .dropdown-menu-instalaciones div:hover {
            }


            .subpagina-instalaciones{
                padding: 3px;
            }

}



@media only screen and (min-width: 481px) and (max-width: 767px) {

    .HeaderPaginasNavegacion-principal-container{
        font-weight: 900;
        font-size: 8px;
        height: 1.6rem;
    }

                .HeaderPaginasNavegacion-sub-container{
                    gap: 1rem;
                    top: -8.5px;
                    padding-left: 6.5rem;
                }

                        .headerPaginasNavegacion-inicioCasaLogo-texto-container {
                        }

                        .headerPaginasNavegacion-inicioCasaLogo-texto-container-noHide{
                        }
                                .headerPaginasNavegacion-active{
                                    top: -4px;
                                }

                                .headerPaginasNavegacion-inicioCasaLogo{
                                    width: 15px;
                                    height: 14px;
                                }

                                        .inicioCasaLogo-hide{
                                        }

                                .headerPaginasNavegacion-texto-inicio{
                                }

                                .headerPaginasNavegacion-texto{ 
                                    padding: 1.8px;
                                    border-radius: 8px;                         
                                }

                                .headerPaginasNavegacion-texto:hover{
                                }

                                .headerPaginasNavegacion-texto:active {
                                    padding: 1.8px;
                                    border-radius: 8px;  
                                }

    /* Menu desplegable */
    .headerPaginasNavegacion_MenuDesplegable {
    }

    .dropdown-menu {
        padding: 1.5px;
        gap: 1.5px;
        left: -1rem;
    }

    /* Menú visible */
    .dropdown-menu.show {
    }

    .dropdown-menu div {
    }

    .dropdown-menu div:hover {
    }

    .subpagina{
        padding: 3px;
    }


            /* menu desplegable instalaciones */
            .dropdown-menu-instalaciones {
                width: 90px;
                padding: 1.5px;
                gap: 1.5px;
                left: -1.1rem;
            }

            .dropdown-menu-instalaciones.show-instalaciones {
            }

            .dropdown-menu-instalaciones div {
            }

            .dropdown-menu-instalaciones div:hover {
            }


            .subpagina-instalaciones{
                padding: 3px;
            }

}


@media only screen and (min-width: 768px) and (max-width: 959px) {

    .HeaderPaginasNavegacion-principal-container{
        font-weight: 900;
        font-size: 13px;
        height: 2.5rem;
    }

                .HeaderPaginasNavegacion-sub-container{
                    gap: 1.7rem;
                    top: -13px;
                    padding-left: 10rem;
                }

                        .headerPaginasNavegacion-inicioCasaLogo-texto-container {
                        }

                        .headerPaginasNavegacion-inicioCasaLogo-texto-container-noHide{
                        }
                                .headerPaginasNavegacion-active{
                                    top: -6px;
                                }

                                .headerPaginasNavegacion-inicioCasaLogo{
                                    width: 23px;
                                    height: 21px;
                                }

                                        .inicioCasaLogo-hide{
                                        }

                                .headerPaginasNavegacion-texto-inicio{
                                }

                                .headerPaginasNavegacion-texto{
                                    padding: 3.5px;
                                    border-radius: 10px;                         
                                }

                                .headerPaginasNavegacion-texto:hover{
                                }

                                .headerPaginasNavegacion-texto:active {
                                    padding: 3.5px;
                                    border-radius: 10px;  
                                }

    /* Menu desplegable */
    .headerPaginasNavegacion_MenuDesplegable {
    }

    .dropdown-menu {
        padding: 2px;
        gap: 2px;
        left: -1.5rem;
    }

    /* Menú visible */
    .dropdown-menu.show {
    }

    .dropdown-menu div {
    }

    .dropdown-menu div:hover {
    }

    .subpagina{
        padding: 3px;
    }

 
            /* menu desplegable instalaciones */
            .dropdown-menu-instalaciones {
                width: 145px;
                padding: 2px;
                gap: 2px;
                left: -2rem;
            }

            .dropdown-menu-instalaciones.show-instalaciones {
            }

            .dropdown-menu-instalaciones div {
            }

            .dropdown-menu-instalaciones div:hover {
            }


            .subpagina-instalaciones{
                padding: 3px;
            } 

}


@media only screen and (min-width: 960px) and (max-width: 1199px) {

    .HeaderPaginasNavegacion-principal-container{
        font-weight: 900;
        font-size: 17px;
        height: 3.2rem;
    }

                .HeaderPaginasNavegacion-sub-container{
                    gap: 1.6rem;
                    top: -15.5px;
                    padding-left: 13rem;
                }

                        .headerPaginasNavegacion-inicioCasaLogo-texto-container {
                        }

                        .headerPaginasNavegacion-inicioCasaLogo-texto-container-noHide{
                        }
                                .headerPaginasNavegacion-active{
                                    top: -6px;
                                }

                                .headerPaginasNavegacion-inicioCasaLogo{
                                    width: 28px;
                                    height: 26px;
                                }

                                        .inicioCasaLogo-hide{
                                        }

                                .headerPaginasNavegacion-texto-inicio{
                                }

                                .headerPaginasNavegacion-texto{  
                                    padding: 4px;
                                    border-radius: 12px;                         
                                }

                                .headerPaginasNavegacion-texto:hover{
                                }

                                .headerPaginasNavegacion-texto:active {
                                    padding: 4px;
                                    border-radius: 12px;  
                                }

    /* Menu desplegable */
    .headerPaginasNavegacion_MenuDesplegable {
    }

    .dropdown-menu {
        padding: 2px;
        gap: 2px;
        left: -1.8rem;
    }

    /* Menú visible */
    .dropdown-menu.show {
    }

    .dropdown-menu div {
    }

    .dropdown-menu div:hover {
    }

    .subpagina{
        padding: 3px;
    }


            /* menu desplegable instalaciones */
            .dropdown-menu-instalaciones {
                width: 200px;
                padding: 2px;
                gap: 2px;
                left: -2.8rem;
            }

            .dropdown-menu-instalaciones.show-instalaciones {
            }

            .dropdown-menu-instalaciones div {
            }

            .dropdown-menu-instalaciones div:hover {
            }


            .subpagina-instalaciones{
                padding: 3px;
            }

}



@media only screen and (min-width: 1200px) {

    .HeaderPaginasNavegacion-principal-container{
        font-weight: 900;
        font-size: 21px;
        height: 3.8rem;
    }

                .HeaderPaginasNavegacion-sub-container{
                    gap: 2.1rem;
                    top: -22px;
                    padding-left: 15.5rem;
                }

                        .headerPaginasNavegacion-inicioCasaLogo-texto-container {
                        }

                        .headerPaginasNavegacion-inicioCasaLogo-texto-container-noHide{
                        }
                                .headerPaginasNavegacion-active{
                                    top: -7px;
                                }

                                .headerPaginasNavegacion-inicioCasaLogo{
                                    width: 35px;
                                    height: 32px;
                                }

                                        .inicioCasaLogo-hide{
                                        }

                                .headerPaginasNavegacion-texto-inicio{
                                }

                                .headerPaginasNavegacion-texto{
                                    padding: 6px;
                                    border-radius: 15px;                     
                                }

                                .headerPaginasNavegacion-texto:hover{
                                }

                                .headerPaginasNavegacion-texto:active {
                                    padding: 6px;
                                    border-radius: 15px;  
                                }

    /* Menu desplegable */
    .headerPaginasNavegacion_MenuDesplegable {
    }

    .dropdown-menu {
        padding: 3px;
        gap: 3px;
        left: -2.3rem;
    }

    /* Menú visible */
    .dropdown-menu.show {
    }

    .dropdown-menu div {
    }

    .dropdown-menu div:hover {
    }

    .subpagina{
        padding: 3px;
    }


            /* menu desplegable instalaciones */
            .dropdown-menu-instalaciones {
                width: 250px;
                padding: 3px;
                gap: 3px;
                left: -3.5rem;
            }

            .dropdown-menu-instalaciones.show-instalaciones {
            }

            .dropdown-menu-instalaciones div {
            }

            .dropdown-menu-instalaciones div:hover {
            }


            .subpagina-instalaciones{
                padding: 3px;
            }

}
