.TituloCabecera-Principal-Container{
    display: flex;
    justify-content: center;
}

    .TituloCabecera-imagenLogo{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }