.SalonDeActosImagenesCambiantes-image-container {
    /* background-color: antiquewhite; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.SalonDeActosImagenesCambiantes-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    transition: opacity 1s ease-in-out;
}

.SalonDeActosImagenesCambiantes-fade-in {
    opacity: 1;
}

.SalonDeActosImagenesCambiantes-fade-out {
    opacity: 0;
}






@media (max-width: 480px) {

    .SalonDeActosImagenesCambiantes-image-container {
    }
    
    .SalonDeActosImagenesCambiantes-image {
        height: 145px;
    }
    
    .SalonDeActosImagenesCambiantes-fade-in {
    }
    
    .SalonDeActosImagenesCambiantes-fade-out {
    }
  
}
  
  
  
@media only screen and (min-width: 481px) and (max-width: 767px) {

    .SalonDeActosImagenesCambiantes-image-container {
    }
    
    .SalonDeActosImagenesCambiantes-image {
        height: 218px;
    }
    
    .SalonDeActosImagenesCambiantes-fade-in {
    }
    
    .SalonDeActosImagenesCambiantes-fade-out {
    }

}



@media only screen and (min-width: 768px) and (max-width: 959px) {

    .SalonDeActosImagenesCambiantes-image-container {
    }
    
    .SalonDeActosImagenesCambiantes-image {
        height: 348px;
    }
    
    .SalonDeActosImagenesCambiantes-fade-in {
    }
    
    .SalonDeActosImagenesCambiantes-fade-out {
    }

}



@media only screen and (min-width: 960px) and (max-width: 1199px) {

    .SalonDeActosImagenesCambiantes-image-container {
    }
    
    .SalonDeActosImagenesCambiantes-image {
        height: 435px;
    }
    
    .SalonDeActosImagenesCambiantes-fade-in {
    }
    
    .SalonDeActosImagenesCambiantes-fade-out {
    }

}



@media only screen and (min-width: 1200px) {

    .SalonDeActosImagenesCambiantes-image-container {
    }
    
    .SalonDeActosImagenesCambiantes-image {
        height: 544px;
    }
    
    .SalonDeActosImagenesCambiantes-fade-in {
    }
    
    .SalonDeActosImagenesCambiantes-fade-out {
    }

}