.InicioPage-Principal-Container{
    /* background-color: azure; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inicioPage-parte1-enlacesRedondos-e-imagenes{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




@media (max-width: 480px) {

    .InicioPage-Principal-Container{
    }
    
    .inicioPage-parte1-enlacesRedondos-e-imagenes{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
  
}
  
  
  
  
@media only screen and (min-width: 481px) and (max-width: 767px) {

    .InicioPage-Principal-Container{
    }
    
    .inicioPage-parte1-enlacesRedondos-e-imagenes{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

}




@media only screen and (min-width: 768px) and (max-width: 959px) {

    .InicioPage-Principal-Container{
    }
    
    .inicioPage-parte1-enlacesRedondos-e-imagenes{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

}




@media only screen and (min-width: 960px) and (max-width: 1199px) {

    .InicioPage-Principal-Container{
    }
    
    .inicioPage-parte1-enlacesRedondos-e-imagenes{
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

}




@media only screen and (min-width: 1200px) {

    .InicioPage-Principal-Container{
    }
    
    .inicioPage-parte1-enlacesRedondos-e-imagenes{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

}