.RosaAyudanteIzquierda-Container{
    /* background-color: rgba(222, 222, 90, 0.5); */
}

    .RosaAyudanteIzquierda-maestra{
        /* background-color: aqua; */
        background-image: url('../../../../Images/equipo/maestra.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }

    .RosaAyudanteIzquierda-nombre-texto-container{
        /* background-color: rgb(240, 248, 255, 0.7); */
        display: flex;
        flex-direction: column;
        position: relative;
        top: -100%;
        justify-content: center;
        align-items: end;
    }

       .RosaAyudanteIzquierda-nombre{
            /* background-color: rgb(165, 125, 76); */
            background-image: url('../../../../Images/equipo/equipoNombres/rosa.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            position: relative;
       }
       
       .RosaAyudanteIzquierda-texto{
            /* background-color: rgb(118, 137, 199, 0.5); */
            color: #102c8a;
            position: relative;
       }






@media (max-width: 480px) {

    .RosaAyudanteIzquierda-Container{
        width: 9.5rem;
        height: 68px;
    }

        .RosaAyudanteIzquierda-maestra{
            width: 65px;
            height: 68px;
        }

        .RosaAyudanteIzquierda-nombre-texto-container{
            height: 68px;
        }

        .RosaAyudanteIzquierda-nombre{
                width: 32px;
                height: 12px;
                top: -5px;
                left: -90px;
        }
        
        .RosaAyudanteIzquierda-texto{
                font-size: 5px;
                line-height: 8px;
                left: -7px;
                top: 13px;
                width: 110px;
        }

}



@media only screen and (min-width: 481px) and (max-width: 767px) {

    .RosaAyudanteIzquierda-Container{
        width: 14rem;
        height: 102px;
    }

        .RosaAyudanteIzquierda-maestra{
            width: 97px;
            height: 102px;
        }

        .RosaAyudanteIzquierda-nombre-texto-container{
            height: 102px;
        }

            .RosaAyudanteIzquierda-nombre{
                width: 50px;
                height: 17px;
                top: -8px;
                left: -130px;
            }
            
            .RosaAyudanteIzquierda-texto{
                font-size: 7px;
                line-height: 9.5px;
                left: -17px;
                top: 20px;
                width: 155px;
            }

}



@media only screen and (min-width: 768px) and (max-width: 959px) {

    .RosaAyudanteIzquierda-Container{
        width: 22.5rem;
        height: 162px;
    }

        .RosaAyudanteIzquierda-maestra{
            width: 154px;
            height: 162px;
        }

        .RosaAyudanteIzquierda-nombre-texto-container{
            height: 162px;
        }

            .RosaAyudanteIzquierda-nombre{
                width: 78px;
                height: 25px;
                top: -12px;
                left: -211px;
            }
            
            .RosaAyudanteIzquierda-texto{
                font-size: 11px;
                line-height: 17px;
                left: -40px;
                top: 35px;
                width: 240px;
            }

}



@media only screen and (min-width: 960px) and (max-width: 1199px) {

    .RosaAyudanteIzquierda-Container{
        width: 27rem;
        height: 203px;
    }

        .RosaAyudanteIzquierda-maestra{
            width: 193px;
            height: 203px;
        }

        .RosaAyudanteIzquierda-nombre-texto-container{
            height: 203px;
        }

            .RosaAyudanteIzquierda-nombre{
                width: 100px;
                height: 35px;
                top: -5px;
                left: -245px;
            }
            
            .RosaAyudanteIzquierda-texto{
                font-size: 15px;
                line-height: 20px;
                left: -30px;
                top: 50px;
                width: 300px;
            }

}



@media only screen and (min-width: 1200px) {

    .RosaAyudanteIzquierda-Container{
        width: 33rem;
        height: 254px;
    }

        .RosaAyudanteIzquierda-maestra{
            width: 241px;
            height: 254px;
        }

        .RosaAyudanteIzquierda-nombre-texto-container{
            height: 254px;
        }

            .RosaAyudanteIzquierda-nombre{
                width: 125px;
                height: 45px;
                top: -9px;
                left: -295px;
            }
            
            .RosaAyudanteIzquierda-texto{
                font-size: 18px;
                line-height: 24px;
                left: -40px;
                top: 60px;
                width: 360px;
            }

}
      
      