.Contacto-Big-Container{
    display: flex;
    flex-direction: column;
}

.Contacto-SubContainer-1{
    display: flex;
    flex-direction: column;
}

.Contacto-SubContainer-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Contacto-Titulo{
    /* background-color: #d1d7ee; */
    color: #102c8a;
    font-weight: 500;
    text-align: center;
}

.Contacto-descripcion-dato-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Contacto-descripcion,
.Contacto-dato{
    /* background-color: #8eaaff; */
    display: flex;
    align-items: flex-end;
}

.Contacto-numero-de-telefono{
    /* background-color: #788ccf; */
    display: flex;
    flex-direction: row;
    font-weight: 700;
}






@media (max-width: 480px) {

    .Contacto-Big-Container{
        gap: 1rem;
    }

    .Contacto-SubContainer-1{
        gap: 0.4rem;
    }

    .Contacto-Titulo{
        font-size: 10px;
    }

    .Contacto-descripcion-dato-container{
        gap: 0.1rem;
    }
    
    .Contacto-descripcion,
    .Contacto-dato{
        padding-bottom: 0.8px;
        font-size: 5px;
    }

    .Contacto-numero-de-telefono{
        font-size: 8px;
    }
}



@media only screen and (min-width: 481px) and (max-width: 767px) {

    .Contacto-Big-Container{
        gap: 1.5rem;
    }

    .Contacto-SubContainer-1{
        gap: 0.5rem;
    }

    .Contacto-Titulo{
        font-size: 15px;
    }

    .Contacto-descripcion-dato-container{
        gap: 0.2rem;
    }
    
    .Contacto-descripcion,
    .Contacto-dato{
        padding-bottom: 1.2px;
        font-size: 7px;
    }

    .Contacto-numero-de-telefono{
        font-size: 10px;
    }

}



@media only screen and (min-width: 768px) and (max-width: 959px) {

    .Contacto-Big-Container{
        gap: 2rem;
    }

    .Contacto-SubContainer-1{
        gap: 0.6rem;
    }

    .Contacto-Titulo{
        font-size: 25px;
    }

    .Contacto-descripcion-dato-container{
        gap: 0.3rem;
    }
    
    .Contacto-descripcion,
    .Contacto-dato{
        padding-bottom: 2.3px;
        font-size: 11px;
    }

    .Contacto-numero-de-telefono{
        font-size: 15px;
    }

}



@media only screen and (min-width: 960px) and (max-width: 1199px) {

    .Contacto-Big-Container{
        gap: 2.5rem;
    }

    .Contacto-SubContainer-1{
        gap: 0.8rem;
    }
    
    .Contacto-Titulo{
        font-size: 32px;
    }

    .Contacto-descripcion-dato-container{
        gap: 0.4rem;
    }

    .Contacto-descripcion,
    .Contacto-dato{
        padding-bottom: 2.4px;
        font-size: 15px;
    }
    
    .Contacto-numero-de-telefono{
        font-size: 22px;
    }

}



@media only screen and (min-width: 1200px) {

    .Contacto-Big-Container{
        gap: 3rem;
    }

    .Contacto-SubContainer-1{
        gap: 1rem;
    }

    .Contacto-Titulo{
        font-size: 40px;
    }

    .Contacto-descripcion-dato-container{
        gap: 0.5rem;
    }

    .Contacto-descripcion,
    .Contacto-dato{
        padding-bottom: 2.1px;
        font-size: 18px;
    }
    
    .Contacto-numero-de-telefono{
        font-size: 25px;
    }

}