.AulasTitulo-Principal-Container{
    display: flex;
    justify-content: center;
}

.aulasTitulo-tituloCabecera{
    background-image: url('../../../../../Images/instalaciones/aulas/aulasImagenesPrincipales/aulasTitulo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 56px;
    height: 28px;
}