.Header-Principal-Container{
    /* background-color: rgb(9, 89, 89, 0.5); */
    color: white;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

        .header-logoLullby-enlacesRedondos-container{
            /* background-color: rgb(170, 228, 228, 0.8); */
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            /* height: 3rem;
            width: 17rem; */
        }


@media (max-width: 480px) {

    .Header-Principal-Container{
    }

            .header-logoLullby-enlacesRedondos-container{
                height: 3rem;
                /* width: 17rem; */
            }

}


@media only screen and (min-width: 481px) and (max-width: 767px) {

    .Header-Principal-Container{
    }

            .header-logoLullby-enlacesRedondos-container{
                height: 4rem;
                /* width: 26rem; */
            }

}


@media only screen and (min-width: 768px) and (max-width: 959px) {

    .Header-Principal-Container{
    }

            .header-logoLullby-enlacesRedondos-container{
                height: 6.5rem;
                /* width: 43rem; */
            }

}


@media only screen and (min-width: 960px) and (max-width: 1199px) {

    .Header-Principal-Container{
    }

            .header-logoLullby-enlacesRedondos-container{
                height: 8.2rem;
                /* width: 52rem; */
            }

}


@media only screen and (min-width: 1200px) {

    .Header-Principal-Container{
    }

            .header-logoLullby-enlacesRedondos-container{
                height: 10.2rem;
                /* width: 65rem; */
            }

}