.aulasEnlacePrincipalPage-volverYsiguiente{
    background-color: rgba(181, 181, 181, 0.5);
    display: flex;
    justify-content: space-between;
}

        .aulasEnlacePrincipalPage-volverAinstalaciones-container,
        .aulasEnlacePrincipalPage-siguiente-container{
            color: #b58900;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            background-color: initial;
            letter-spacing: normal;
            text-shadow: none;
            text-align: justify;
            cursor: pointer;
            display: flex;
            /* background-color: rgb(125, 111, 91); */

            /* font-size: 5px; */
        }


                .aulasEnlacePrincipalPage-volverAinstalaciones-subContainer,
                .aulasEnlacePrincipalPage-siguiente-subContainer{

                    /* padding: 3px;
                    border-radius: 5px; */
                }
                .aulasEnlacePrincipalPage-volverAinstalaciones-subContainer:hover,
                .aulasEnlacePrincipalPage-siguiente-subContainer:hover{
                    background-color: rgba(176, 213, 235, 0.5);

                    /* padding: 3px;
                    border-radius: 5px; */
                }


.aulasEnlacePrincipalPage-subContainer{
    background-color: rgb(114, 114, 223);
/* 
    font-size: 5px;
    line-height: 8px; */
}





@media (max-width: 480px) {

    .aulasEnlacePrincipalPage-volverYsiguiente{
    }

            .aulasEnlacePrincipalPage-volverAinstalaciones-container,
            .aulasEnlacePrincipalPage-siguiente-container{
                font-size: 5px;
            }


                    .aulasEnlacePrincipalPage-volverAinstalaciones-subContainer,
                    .aulasEnlacePrincipalPage-siguiente-subContainer{
                        padding: 3px;
                        border-radius: 5px;
                    }
                    .aulasEnlacePrincipalPage-volverAinstalaciones-subContainer:hover,
                    .aulasEnlacePrincipalPage-siguiente-subContainer:hover{
                        padding: 3px;
                        border-radius: 5px;
                    }


    .aulasEnlacePrincipalPage-subContainer{
        gap: 1rem;
        font-size: 5px;
        line-height: 8px;
    }
    
}




@media only screen and (min-width: 481px) and (max-width: 767px) {

    .aulasEnlacePrincipalPage-volverYsiguiente{
    }

            .aulasEnlacePrincipalPage-volverAinstalaciones-container,
            .aulasEnlacePrincipalPage-siguiente-container{
                font-size: 7px;
            }


                    .aulasEnlacePrincipalPage-volverAinstalaciones-subContainer,
                    .aulasEnlacePrincipalPage-siguiente-subContainer{
                        padding: 4px;
                        border-radius: 7px;
                    }
                    .aulasEnlacePrincipalPage-volverAinstalaciones-subContainer:hover,
                    .aulasEnlacePrincipalPage-siguiente-subContainer:hover{
                        padding: 4px;
                        border-radius: 7px;
                    }


    .aulasEnlacePrincipalPage-subContainer{
        gap: 1.5rem;
        font-size: 7px;
        line-height: 10px;
    }

}




@media only screen and (min-width: 768px) and (max-width: 959px) {

    .aulasEnlacePrincipalPage-volverYsiguiente{
    }

            .aulasEnlacePrincipalPage-volverAinstalaciones-container,
            .aulasEnlacePrincipalPage-siguiente-container{
                font-size: 11px;
            }


                    .aulasEnlacePrincipalPage-volverAinstalaciones-subContainer,
                    .aulasEnlacePrincipalPage-siguiente-subContainer{
                        padding: 6px;
                        border-radius: 10px;
                    }
                    .aulasEnlacePrincipalPage-volverAinstalaciones-subContainer:hover,
                    .aulasEnlacePrincipalPage-siguiente-subContainer:hover{
                        padding: 6px;
                        border-radius: 10px;
                    }


    .aulasEnlacePrincipalPage-subContainer{
        gap: 2rem;
        font-size: 11px;
        line-height: 18px;
    }

}




@media only screen and (min-width: 960px) and (max-width: 1199px) {

    .aulasEnlacePrincipalPage-volverYsiguiente{
    }

            .aulasEnlacePrincipalPage-volverAinstalaciones-container,
            .aulasEnlacePrincipalPage-siguiente-container{
                font-size: 15px;
            }


                    .aulasEnlacePrincipalPage-volverAinstalaciones-subContainer,
                    .aulasEnlacePrincipalPage-siguiente-subContainer{
                        padding: 8px;
                        border-radius: 12px;
                    }
                    .aulasEnlacePrincipalPage-volverAinstalaciones-subContainer:hover,
                    .aulasEnlacePrincipalPage-siguiente-subContainer:hover{
                        padding: 8px;
                        border-radius: 12px;
                    }


    .aulasEnlacePrincipalPage-subContainer{
        gap: 2.5rem;
        font-size: 15px;
        line-height: 23px;
    }

}




@media only screen and (min-width: 1200px) {

    .aulasEnlacePrincipalPage-volverYsiguiente{
    }

            .aulasEnlacePrincipalPage-volverAinstalaciones-container,
            .aulasEnlacePrincipalPage-siguiente-container{
                font-size: 18px;
            }


                    .aulasEnlacePrincipalPage-volverAinstalaciones-subContainer,
                    .aulasEnlacePrincipalPage-siguiente-subContainer{
                        padding: 10px;
                        border-radius: 15px;
                    }
                    .aulasEnlacePrincipalPage-volverAinstalaciones-subContainer:hover,
                    .aulasEnlacePrincipalPage-siguiente-subContainer:hover{
                        padding: 10px;
                        border-radius: 15px;
                    }


    .aulasEnlacePrincipalPage-subContainer{
        gap: 3rem;
        font-size: 18px;
        line-height: 28px;
    }

}