.decalogoPage-subContainer{
    /* background-color: rgb(114, 114, 223); */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    text-align: justify;

    /* gap: 1rem;
    font-size: 5px;
    line-height: 8px; */
}


    .decalogoPage-decalogoPage-container{
        /* background-color: rgb(98, 188, 188); */
        display: flex;
        justify-content: center;
    }


            .decalogoPage-decalogoLogo{
                background-image: url('../../../Images/inicio/decalogo/decalogoLogo.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% 100%;
                cursor: pointer;
                /* background-color: antiquewhite; */

                /* border-radius: 18px;
                width: 33px;
                height: 33px; */
            }


              .decalogoPage-parrafo {
                position: relative; /* Permite el posicionamiento independiente de ::before */
                
                /* padding-left: 0.4rem; */
              }
              

                    .decalogoPage-parrafo::before {
                        font-weight: bold;
                        position: absolute;
                        left: 0; 
                    }

                    .decalogoPage-parrafo_1::before {
                        content: '1.'; /* Número con un espacio después */
                        color: rgb(181, 137, 0);
                    }

                    .decalogoPage-parrafo_2::before {
                        content: '2.'; /* Número con un espacio después */
                        color: rgb(203, 75, 22);
                    }

                    .decalogoPage-parrafo_3::before {
                        content: '3.'; /* Número con un espacio después */
                        color: rgb(220, 50, 47);
                    }

                    .decalogoPage-parrafo_4::before {
                        content: '4.'; /* Número con un espacio después */
                        color: rgb(211, 54, 130);
                    }

                    .decalogoPage-parrafo_5::before {
                        content: '5.'; /* Número con un espacio después */
                        color: rgb(108, 113, 196);
                    }

                    .decalogoPage-parrafo_6::before {
                        content: '6.'; /* Número con un espacio después */
                        color: rgb(38, 139, 210);
                    }

                    .decalogoPage-parrafo_7::before {
                        content: '7.'; /* Número con un espacio después */
                        color: rgb(42, 161, 154);
                    }

                    .decalogoPage-parrafo_8::before {
                        content: '8.'; /* Número con un espacio después */
                        color: rgb(181, 137, 0);
                    }

                    .decalogoPage-parrafo_9::before {
                        content: '9.'; /* Número con un espacio después */
                        color: rgb(203, 75, 22);
                    }

                    .decalogoPage-parrafo_10 {

                        /* padding-left: 0.6rem; */
                    }

                        .decalogoPage-parrafo_10::before {
                            content: '10.'; /* Número con un espacio después */
                            color: rgb(220, 50, 47);
                        }

            .decalogo-letraResaltada{
                color: rgb(16, 44, 138);
                font-weight: 700;
            }



@media (max-width: 480px) {

    .decalogoPage-subContainer{
        gap: 1rem;
        font-size: 5px;
        line-height: 8px;
    }


        .decalogoPage-decalogoPage-container{
        }


                .decalogoPage-decalogoLogo{
                    border-radius: 18px;
                    width: 33px;
                    height: 33px;
                }


                    .decalogoPage-parrafo {
                    padding-left: 0.4rem;
                    }
                    

                        .decalogoPage-parrafo::before {
                        }
                        .decalogoPage-parrafo_1::before {
                        }
                        .decalogoPage-parrafo_2::before {
                        }
                        .decalogoPage-parrafo_3::before {
                        }
                        .decalogoPage-parrafo_4::before {
                        }
                        .decalogoPage-parrafo_5::before {
                        }
                        .decalogoPage-parrafo_6::before {
                        }
                        .decalogoPage-parrafo_7::before {
                        }
                        .decalogoPage-parrafo_8::before {
                        }
                        .decalogoPage-parrafo_9::before {
                        }
                        .decalogoPage-parrafo_10 {
                            padding-left: 0.6rem;
                        }

                            .decalogoPage-parrafo_10::before {
                            }

                .decalogo-letraResaltada{
                }
    
}



@media only screen and (min-width: 481px) and (max-width: 767px) {

    .decalogoPage-subContainer{
        gap: 1.5rem;
        font-size: 7px;
        line-height: 10px;
    }


        .decalogoPage-decalogoPage-container{
        }


                .decalogoPage-decalogoLogo{
                    border-radius: 25px;
                    width: 49px;
                    height: 49px;
                }


                    .decalogoPage-parrafo {
                    padding-left: 0.5rem;
                    }
                    

                        .decalogoPage-parrafo::before {
                        }
                        .decalogoPage-parrafo_1::before {
                        }
                        .decalogoPage-parrafo_2::before {
                        }
                        .decalogoPage-parrafo_3::before {
                        }
                        .decalogoPage-parrafo_4::before {
                        }
                        .decalogoPage-parrafo_5::before {
                        }
                        .decalogoPage-parrafo_6::before {
                        }
                        .decalogoPage-parrafo_7::before {
                        }
                        .decalogoPage-parrafo_8::before {
                        }
                        .decalogoPage-parrafo_9::before {
                        }

                        .decalogoPage-parrafo_10 {
                            padding-left: 0.7rem;
                        }

                            .decalogoPage-parrafo_10::before {
                            }

                .decalogo-letraResaltada{
                }

}



@media only screen and (min-width: 768px) and (max-width: 959px) {

    .decalogoPage-subContainer{
        gap: 2rem;
        font-size: 11px;
        line-height: 18px;
    }


        .decalogoPage-decalogoPage-container{
        }


                .decalogoPage-decalogoLogo{
                    border-radius: 40px;
                    width: 80px;
                    height: 80px;
                }


                    .decalogoPage-parrafo {
                    padding-left: 0.8rem;
                    }
                    

                        .decalogoPage-parrafo::before {
                        }
                        .decalogoPage-parrafo_1::before {
                        }
                        .decalogoPage-parrafo_2::before {
                        }
                        .decalogoPage-parrafo_3::before {
                        }
                        .decalogoPage-parrafo_4::before {
                        }
                        .decalogoPage-parrafo_5::before {
                        }
                        .decalogoPage-parrafo_6::before {
                        }
                        .decalogoPage-parrafo_7::before {
                        }
                        .decalogoPage-parrafo_8::before {
                        }
                        .decalogoPage-parrafo_9::before {
                        }

                        .decalogoPage-parrafo_10 {
                            padding-left: 1.2rem;
                        }

                            .decalogoPage-parrafo_10::before {
                            }

                .decalogo-letraResaltada{
                }

}



@media only screen and (min-width: 960px) and (max-width: 1199px) {

    .decalogoPage-subContainer{
        gap: 2.5rem;
        font-size: 15px;
        line-height: 23px;
    }


        .decalogoPage-decalogoPage-container{
        }


                .decalogoPage-decalogoLogo{
                    border-radius: 50px;
                    width: 100px;
                    height: 100px;
                }


                    .decalogoPage-parrafo {
                    padding-left: 1.1rem;
                    }
                    

                        .decalogoPage-parrafo::before {
                        }
                        .decalogoPage-parrafo_1::before {
                        }
                        .decalogoPage-parrafo_2::before {
                        }
                        .decalogoPage-parrafo_3::before {
                        }
                        .decalogoPage-parrafo_4::before {
                        }
                        .decalogoPage-parrafo_5::before {
                        }
                        .decalogoPage-parrafo_6::before {
                        }
                        .decalogoPage-parrafo_7::before {
                        }
                        .decalogoPage-parrafo_8::before {
                        }
                        .decalogoPage-parrafo_9::before {
                        }

                        .decalogoPage-parrafo_10 {
                            padding-left: 1.6rem;
                        }

                            .decalogoPage-parrafo_10::before {
                            }

                .decalogo-letraResaltada{
                }

}



@media only screen and (min-width: 1200px) {

    .decalogoPage-subContainer{
        gap: 3rem;
        font-size: 18px;
        line-height: 28px;
    }


        .decalogoPage-decalogoPage-container{
        }


                .decalogoPage-decalogoLogo{
                    border-radius: 60px;
                    width: 125px;
                    height: 125px;
                }


                    .decalogoPage-parrafo {
                    padding-left: 1.4rem;
                    }
                    

                        .decalogoPage-parrafo::before {
                        }
                        .decalogoPage-parrafo_1::before {
                        }
                        .decalogoPage-parrafo_2::before {
                        }
                        .decalogoPage-parrafo_3::before {
                        }
                        .decalogoPage-parrafo_4::before {
                        }
                        .decalogoPage-parrafo_5::before {
                        }
                        .decalogoPage-parrafo_6::before {
                        }
                        .decalogoPage-parrafo_7::before {
                        }
                        .decalogoPage-parrafo_8::before {
                        }
                        .decalogoPage-parrafo_9::before {
                        }

                        .decalogoPage-parrafo_10 {
                            padding-left: 1.9rem;
                        }

                            .decalogoPage-parrafo_10::before {
                            }

                .decalogo-letraResaltada{
                }

}