.AulasDarwin-diplay-flex-column{
    display: flex;
    flex-direction: column;
}

.AulasDarwin-imagenRepeatPositionSize{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.AulasDarwin-positionAbsolute{
    position: absolute;
}

.AulasDarwin-Principal-Big-Container{
    background-color: rgb(0, 0, 255, 0.5);
    display: flex;
    align-items: flex-end; 
}

.AulasDarwin-Principal-Container{
    background-color: rgba(98, 98, 246, 0.5);
    align-items: center;
    position: relative;
    overflow: hidden;
}

        .AulasDarwin-nube{
            background-image: url('../../../../../Images/instalaciones/aulas/aulasImagenesPrincipales/aulasNube.png');
            z-index: 1;
            top: 0px;
        }

        .AulasDarwin-titulo{
            background-image: url('../../../../../Images/instalaciones/aulas/aulasImagenesPrincipales/darwin/darwinTitulo.png');
            z-index: 2;

            /* width: 91px;
            height: 24px;
            top: 7px; */
        }

        .AulasDarwin-edad{
            font-size: 400;
            z-index: 3;

            /* top: 25px; */
        }


        .AulasDarwin-imagen-info{
            align-items: center;
            z-index: 2;

            /* top: 25px;
            gap: 0.2rem; */
        }


                .AulasDarwin-imagen{
                    background-image: url('../../../../../Images/instalaciones/aulas/aulasImagenesPrincipales/darwin/darwinImagen.png');
                    cursor: pointer;
                    /* width: 65px;
                    height: 60px; */
                }





@media (max-width: 480px) {

    .AulasDarwin-diplay-flex-column{
        font-size: 5px;
    }
    
    .AulasDarwin-imagenRepeatPositionSize{
    }
    
    .AulasDarwin-positionAbsolute{
    }
    
    .AulasDarwin-Principal-Big-Container{
        height: 142px;
    }

    .AulasDarwin-Principal-Container{
        width: 104px;
        height: 114px;
    }
    
            .AulasDarwin-nube{
                width: 104px;
                height: 59px;

            }
    
            .AulasDarwin-titulo{
                width: 59px;
                height: 26px;
                top: -2px;               
            }
    
            .AulasDarwin-edad{
                top: 18px;                
            }
    
    
            .AulasDarwin-imagen-info{
                top: 25px;
                gap: 0.2rem;                
            }
    
    
                    .AulasDarwin-imagen{
                        width: 69px;
                        height: 67px;                        
                    }
    
}




@media only screen and (min-width: 481px) and (max-width: 767px) {

    .AulasDarwin-diplay-flex-column{
        font-size: 7px;
    }
    
    .AulasDarwin-imagenRepeatPositionSize{
    }
    
    .AulasDarwin-positionAbsolute{
    }
    
    .AulasDarwin-Principal-Big-Container{
        height: 210px;
    }
    
    .AulasDarwin-Principal-Container{
        width: 155px;
        height: 170px;
    }
    
            .AulasDarwin-nube{
                width: 155px;
                height: 88px;
            }
    
            .AulasDarwin-titulo{
                width: 89px;
                height: 39px;
                top: -3.5px;
            }
    
            .AulasDarwin-edad{
                top: 28px;                
            }
    
    
            .AulasDarwin-imagen-info{
                top: 40px;
                gap: 0.4rem;
            }
            
    
    
                    .AulasDarwin-imagen{
                        width: 103px;
                        height: 100px;                        
                    }

}




@media only screen and (min-width: 768px) and (max-width: 959px) {

    .AulasDarwin-diplay-flex-column{
        font-size: 11px;
    }
    
    .AulasDarwin-imagenRepeatPositionSize{
    }
    
    .AulasDarwin-positionAbsolute{
    }
    
    .AulasDarwin-Principal-Big-Container{
        height: 340px;
    }
    
    .AulasDarwin-Principal-Container{
        width: 250px;
        height: 275px;
    }
    
            .AulasDarwin-nube{
                width: 250px;
                height: 142px;
            }
    
            .AulasDarwin-titulo{
                width: 142px;
                height: 62px;
                top: -6px;                
            }
    
            .AulasDarwin-edad{
                top: 42px;                
            }
    
    
            .AulasDarwin-imagen-info{
                top: 62px;
                gap: 0.8rem;                
            }
    
    
                    .AulasDarwin-imagen{
                        width: 164px;
                        height: 160px;                        
                    }

}




@media only screen and (min-width: 960px) and (max-width: 1199px) {

    .AulasDarwin-diplay-flex-column{
        font-size: 15px;
    }
    
    .AulasDarwin-imagenRepeatPositionSize{
    }
    
    .AulasDarwin-positionAbsolute{
    }
    
    .AulasDarwin-Principal-Big-Container{
        height: 425px;
    }
    
    .AulasDarwin-Principal-Container{
        width: 313px;
        height: 345px;
    }
    
            .AulasDarwin-nube{
                width: 313px;
                height: 178px;
            }
    
            .AulasDarwin-titulo{
                width: 177px;
                height: 77px;
                top: -7px;                
            }
    
            .AulasDarwin-edad{
                top: 52px;                
            }
    
    
            .AulasDarwin-imagen-info{
                top: 85px;
                gap: 0.9rem;                
            }
    
    
                    .AulasDarwin-imagen{
                        width: 204px;
                        height: 199px;                        
                    }

}




@media only screen and (min-width: 1200px) {

    .AulasDarwin-diplay-flex-column{
        font-size: 18px;
    }
    
    .AulasDarwin-imagenRepeatPositionSize{
    }
    
    .AulasDarwin-positionAbsolute{
    }
    
    .AulasDarwin-Principal-Big-Container{
        height: 525px;
    }
    
    .AulasDarwin-Principal-Container{
        width: 390px;
        height: 425px;
    }
    
            .AulasDarwin-nube{
                width: 390px;
                height: 222px;
            }
    
            .AulasDarwin-titulo{
                width: 222px;
                height: 96px;
                top: -10px;                
            }
    
            .AulasDarwin-edad{
                top: 65px;                
            }
    
    
            .AulasDarwin-imagen-info{
                top: 105px;
                gap: 1rem;                
            }
    
    
                    .AulasDarwin-imagen{
                        width: 256px;
                        height: 249px;                        
                    }

}