.huertoEinvernadero-subContainer{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.huertoEinvernadero-titulo_parrafo-container{
}






@media (max-width: 480px) {

    .huertoEinvernadero-subContainer{
        gap: 1rem;
        font-size: 5px;
        line-height: 8px;
    }

    .huertoEinvernadero-titulo_parrafo-container{ 
    }
    
}



@media only screen and (min-width: 481px) and (max-width: 767px) {

    .huertoEinvernadero-subContainer{
        gap: 1.5rem;
        font-size: 7px;
        line-height: 10px;
    }

    .huertoEinvernadero-titulo_parrafo-container{ 
    }

}



@media only screen and (min-width: 768px) and (max-width: 959px) {

    .huertoEinvernadero-subContainer{
        gap: 2rem;
        font-size: 11px;
        line-height: 18px;
    }

    .huertoEinvernadero-titulo_parrafo-container{ 
    }

}



@media only screen and (min-width: 960px) and (max-width: 1199px) {

    .huertoEinvernadero-subContainer{
        gap: 2.5rem;
        font-size: 15px;
        line-height: 23px;
    }

    .huertoEinvernadero-titulo_parrafo-container{  
    }

}



@media only screen and (min-width: 1200px) {

    .huertoEinvernadero-subContainer{
        gap: 3rem;
        font-size: 18px;
        line-height: 28px;
    }

    .huertoEinvernadero-titulo_parrafo-container{
    }

}