.Siguiente-volverYsiguiente{
    background-color: rgba(181, 181, 181, 0.5);
    display: flex;
    justify-content: space-between;
    
}
        .Siguiente-siguiente-container{
            color: #b58900;
            font-weight: 700;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            background-color: initial;
            letter-spacing: normal;
            text-shadow: none;
            text-align: justify;
            cursor: pointer;
            display: flex;
        }

                .Siguiente-siguiente-subContainer{
                }
                
                .Siguiente-siguiente-subContainer:hover{
                    background-color: rgba(176, 213, 235, 0.5);
                }

                .Siguiente-siguiente-subContainer:active{
                    background-color: rgba(136, 147, 158);
                    color: rgb(255, 255, 255);
                }





@media (max-width: 480px) {

    .Siguiente-volverYsiguiente{
    }

            .Siguiente-siguiente-container{
                font-size: 5px;
            }


                    .Siguiente-siguiente-subContainer{
                        padding: 3px;
                        border-radius: 5px;
                    }
                    
                    .Siguiente-siguiente-subContainer:hover{
                        padding: 3px;
                        border-radius: 5px;
                    }

                    .Siguiente-siguiente-subContainer:active{
                    }

}




@media only screen and (min-width: 481px) and (max-width: 767px) {

    .Siguiente-volverYsiguiente{
    }

            .Siguiente-siguiente-container{
                font-size: 7px;
            }


                    .Siguiente-siguiente-subContainer{
                        padding: 4px;
                        border-radius: 7px;
                    }
                    
                    .Siguiente-siguiente-subContainer:hover{
                        padding: 4px;
                        border-radius: 7px;
                    }

                    .Siguiente-siguiente-subContainer:active{
                    }

}




@media only screen and (min-width: 768px) and (max-width: 959px) {

    .Siguiente-volverYsiguiente{
    }

            .Siguiente-siguiente-container{
                font-size: 11px;
            }


                    .Siguiente-siguiente-subContainer{
                        padding: 6px;
                        border-radius: 10px;
                    }
                    
                    .Siguiente-siguiente-subContainer:hover{
                        padding: 6px;
                        border-radius: 10px;
                    }

                    .Siguiente-siguiente-subContainer:active{
                    }

}




@media only screen and (min-width: 960px) and (max-width: 1199px) {

    .Siguiente-volverYsiguiente{
    }

            .Siguiente-siguiente-container{
                font-size: 15px;
            }


                    .Siguiente-siguiente-subContainer{
                        padding: 8px;
                        border-radius: 12px;
                    }
                    
                    .Siguiente-siguiente-subContainer:hover{
                        padding: 8px;
                        border-radius: 12px;
                    }

                    .Siguiente-siguiente-subContainer:active{
                    }

}




@media only screen and (min-width: 1200px) {

    .Siguiente-volverYsiguiente{
    }

            .Siguiente-siguiente-container{
                font-size: 18px;
            }


                    .Siguiente-siguiente-subContainer{
                        padding: 10px;
                        border-radius: 15px;
                    }
                    
                    .Siguiente-siguiente-subContainer:hover{
                        padding: 10px;
                        border-radius: 15px;
                    }

                    .Siguiente-siguiente-subContainer:active{
                    }

}