@keyframes bounceIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

.JuegoPage-Volver-Y-Siguiente-Container{
    background-color: rgb(242, 186, 113);
}



.JuegoPage-TituloCabecera-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounceIn 0.8s ease-out;
    background-color: rgb(242, 186, 113);
}


.JuegoPage-parrafos-imagenes-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(128, 114, 96);
    width: 100%;
    align-items: center;
    align-self: center;
}


.JuegoPage-parrafos-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 245, 220, 0.5); /* Usa rgba para transparencia */
    /* width: 100%;  */
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
    overflow-wrap: break-word; /* Permite dividir palabras largas */
    word-wrap: break-word; /* Compatibilidad con navegadores antiguos */
    overflow: hidden; /* Oculta el contenido que pueda desbordarse */
    max-width: 100%; /* Evita que se exceda del ancho máximo */
    height: auto; /* Ajusta automáticamente la altura al contenido */
    justify-content: flex-start; /* Alinea los elementos al principio */
}

.JuegoPage-Imagenes-Cambiantes-Container{
    width: 100%;
}

@media (max-width: 480px) {

    .JuegoPage-Volver-Y-Siguiente-Container{
        width: 16.5rem;
    }

    .JuegoPage-TituloCabecera-Container {
        width: 16.5rem;
    }

    .JuegoPage-parrafos-imagenes-container{
        /* width: 16.5rem; */
        gap: 1rem;
    }

    .JuegoPage-parrafos-container{
        width: 16.5rem;
        gap: 0.5rem;
    }  
    
}




@media only screen and (min-width: 481px) and (max-width: 767px) {

    .JuegoPage-Volver-Y-Siguiente-Container{
        width: 25rem;
    }

    .JuegoPage-TituloCabecera-Container {
        width: 25rem;
    }

    .JuegoPage-parrafos-imagenes-container{
        /* width: 25rem; */
        gap: 1.5rem;
    }

    .JuegoPage-parrafos-container{
        width: 25rem;
        gap: 0.7rem;
    }    

}




@media only screen and (min-width: 768px) and (max-width: 959px) {

    .JuegoPage-Volver-Y-Siguiente-Container{
        width: 41rem;
    }

    .JuegoPage-TituloCabecera-Container {
        width: 41rem;
    }
    
    .JuegoPage-parrafos-imagenes-container{
        /* width: 41rem; */
        gap: 2rem;
    }

    .JuegoPage-parrafos-container{
        width: 41rem;
        gap: 1rem;
    } 

}




@media only screen and (min-width: 960px) and (max-width: 1199px) {

    .JuegoPage-Volver-Y-Siguiente-Container{
        width: 49rem;
    }

    .JuegoPage-TituloCabecera-Container {
        width: 49rem;
    }

    .JuegoPage-parrafos-imagenes-container{
        /* width: 49rem; */
        gap: 2.5rem;
    }

    .JuegoPage-parrafos-container{
        width: 49rem;
        gap: 1.4rem;
    } 

}




@media only screen and (min-width: 1200px) {

    .JuegoPage-Volver-Y-Siguiente-Container{
        width: 61rem;
    }

    .JuegoPage-TituloCabecera-Container {
        width: 61rem;
    }

    .JuegoPage-parrafos-imagenes-container{
        /* width: 61rem; */
        gap: 3rem;
    }

    .JuegoPage-parrafos-container{
        width: 61rem;
        gap: 1.7rem;
    } 

}