.CarmenAyudanteIzquierda-Container{
    /* background-color: rgba(222, 222, 90, 0.5); */
}

    .CarmenAyudanteIzquierda-maestra{
        /* background-color: aqua; */
        background-image: url('../../../../Images/equipo/maestra.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }

    .CarmenAyudanteIzquierda-nombre-texto-container{
        /* background-color: rgb(240, 248, 255, 0.7); */
        display: flex;
        flex-direction: column;
        position: relative;
        top: -100%;
        justify-content: center;
        align-items: end;
    }

       .CarmenAyudanteIzquierda-nombre{
            /* background-color: rgb(165, 125, 76); */
            background-image: url('../../../../Images/equipo/equipoNombres/carmen.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            position: relative;
       }
       
       .CarmenAyudanteIzquierda-texto{
            /* background-color: rgb(118, 137, 199, 0.5); */
            color: #102c8a;
            position: relative;
       }






@media (max-width: 480px) {

    .CarmenAyudanteIzquierda-Container{
        width: 9.5rem;
        height: 68px;
    }

        .CarmenAyudanteIzquierda-maestra{
            width: 65px;
            height: 68px;
        }

        .CarmenAyudanteIzquierda-nombre-texto-container{
            height: 68px;
        }

        .CarmenAyudanteIzquierda-nombre{
                width: 34px;
                height: 11px;
                top: -3.5px;
                left: -89px;
        }
        
        .CarmenAyudanteIzquierda-texto{
                font-size: 5px;
                line-height: 8px;
                left: -2px;
                top: 15px;
                width: 116px;
        }

}



@media only screen and (min-width: 481px) and (max-width: 767px) {

    .CarmenAyudanteIzquierda-Container{
        width: 14rem;
        height: 102px;
    }

        .CarmenAyudanteIzquierda-maestra{
            width: 97px;
            height: 102px;
        }

        .CarmenAyudanteIzquierda-nombre-texto-container{
            height: 102px;
        }

            .CarmenAyudanteIzquierda-nombre{
                width: 50px;
                height: 14px;
                top: -12px;
                left: -130px;
            }
            
            .CarmenAyudanteIzquierda-texto{
                font-size: 7px;
                line-height: 9.5px;
                left: -8px;
                top: 23px;
                width: 165px;
            }

}



@media only screen and (min-width: 768px) and (max-width: 959px) {

    .CarmenAyudanteIzquierda-Container{
        width: 22.5rem;
        height: 162px;
    }

        .CarmenAyudanteIzquierda-maestra{
            width: 154px;
            height: 162px;
        }

        .CarmenAyudanteIzquierda-nombre-texto-container{
            height: 162px;
        }

            .CarmenAyudanteIzquierda-nombre{
                width: 80px;
                height: 21px;
                top: -19px;
                left: -211px;
            }
            
            .CarmenAyudanteIzquierda-texto{
                font-size: 11px;
                line-height: 17px;
                left: -20px;
                top: 37px;
                width: 260px;
            }

}



@media only screen and (min-width: 960px) and (max-width: 1199px) {

    .CarmenAyudanteIzquierda-Container{
        width: 27rem;
        height: 203px;
    }

        .CarmenAyudanteIzquierda-maestra{
            width: 193px;
            height: 203px;
        }

        .CarmenAyudanteIzquierda-nombre-texto-container{
            height: 203px;
        }

            .CarmenAyudanteIzquierda-nombre{
                width: 100px;
                height: 32px;
                top: -23px;
                left: -245px;
            }
            
            .CarmenAyudanteIzquierda-texto{
                font-size: 15px;
                line-height: 20px;
                left: -10px;
                top: 40px;
                width: 320px;
            }

}



@media only screen and (min-width: 1200px) {

    .CarmenAyudanteIzquierda-Container{
        width: 33rem;
        height: 254px;
    }

        .CarmenAyudanteIzquierda-maestra{
            width: 241px;
            height: 254px;
        }

        .CarmenAyudanteIzquierda-nombre-texto-container{
            height: 254px;
        }

            .CarmenAyudanteIzquierda-nombre{
                width: 125px;
                height: 35px;
                top: -33px;
                left: -295px;
            }
            
            .CarmenAyudanteIzquierda-texto{
                font-size: 18px;
                line-height: 24px;
                left: -22px;
                top: 55px;
                width: 380px;
            }

}
      
      