.EnlacesRedondos-Principal-Container{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* padding-top: 5px;
    padding-bottom: 5px; */
}

.enlacesRedondos-enlaceRedondo{
    /* background-color: rgb(186, 106, 7); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
/* 
    border-radius: 15px;
    width: 33px;
    height: 33px; */
}





@media (max-width: 480px) {

    .EnlacesRedondos-Principal-Container{
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .enlacesRedondos-enlaceRedondo{ 
        border-radius: 15px;
        width: 33px;
        height: 33px;
    }
  
}
  
  
  
  
@media only screen and (min-width: 481px) and (max-width: 767px) {

    .EnlacesRedondos-Principal-Container{
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .enlacesRedondos-enlaceRedondo{ 
        border-radius: 22px;
        width: 49px;
        height: 49px;
    }

}




@media only screen and (min-width: 768px) and (max-width: 959px) {

    .EnlacesRedondos-Principal-Container{
        padding-top: 9px;
        padding-bottom: 9px;
    }

    .enlacesRedondos-enlaceRedondo{ 
        border-radius: 35px;
        width: 79px;
        height: 79px;
    }

}




@media only screen and (min-width: 960px) and (max-width: 1199px) {

    .EnlacesRedondos-Principal-Container{
        padding-top: 11px;
        padding-bottom: 11px;
    }

    .enlacesRedondos-enlaceRedondo{ 
        border-radius: 45px;
        width: 100px;
        height: 100px;
    }

}




@media only screen and (min-width: 1200px) {

    .EnlacesRedondos-Principal-Container{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .enlacesRedondos-enlaceRedondo{ 
        border-radius: 55px;
        width: 125px;
        height: 125px;
    }

}

