.nutricionPage-subContainer{
        /* background-color: rgb(114, 114, 223); */
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        text-align: justify;
        font-weight: 400;
}

        .nutricionPage-nutricionLogo-container{
            /* background-color: rgb(98, 188, 188); */
            display: flex;
            justify-content: center;
        }
    
    
                .nutricionPage-nutricionLogo{
                    background-image: url('../../../Images/inicio/nutricionista/nutricionistaLogo.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100% 100%;
                    cursor: pointer;
                    /* background-color: antiquewhite; */
                }

        .nutricionPage-parrafo{
        }

        .nutricionPage-parrafo-conSangria-container{

        }

                .nutricionPage-parrafoSangria{
                    position: relative;
                }
                .nutricionPage-parrafoSangria::before{
                    content: '-';
                    font-weight: bold;
                    position: absolute;
                    left: 0; 
                }

        .nutricionPage-imagenes-container{
            position: relative;
            overflow: hidden;
        }

                .nutricionImages{
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100% 100%;
                    transition: opacity 1s ease-in-out;
                }

                .nutricion-fade-in {
                    opacity: 1;
                }
                
                .nutricion-fade-out {
                    opacity: 0;
                }


    



@media (max-width: 480px) {

        .nutricionPage-subContainer{
                gap: 1rem;
                font-size: 5px;
                line-height: 8px;
        }

                .nutricionPage-nutricionLogo-container{
                }
        
                        .nutricionPage-nutricionLogo{
                        border-radius: 18px;
                        width: 33px;
                        height: 33px;
                        }

                .nutricionPage-parrafo{
                }

                .nutricionPage-parrafo-conSangria-container{
                }

                        .nutricionPage-parrafoSangria{
                        padding-left: 0.3rem;
                        }
                        .nutricionPage-parrafoSangria::before{
                        }

                .nutricionPage-imagenes-container{
                width: 260px;
                height: 155px;
                }

                        .nutricionImages{
                        }
                        .nutricion-fade-in {
                        }
                        .nutricion-fade-out {
                        }
    
}



@media only screen and (min-width: 481px) and (max-width: 767px) {

        .nutricionPage-subContainer{
                gap: 1.5rem;
                font-size: 7px;
                line-height: 10px;
        }

                .nutricionPage-nutricionLogo-container{
                }
        
                        .nutricionPage-nutricionLogo{
                        border-radius: 25px;
                        width: 49px;
                        height: 49px;
                        }

                .nutricionPage-parrafo{
                }

                .nutricionPage-parrafo-conSangria-container{
                }

                        .nutricionPage-parrafoSangria{
                        padding-left: 0.4rem;
                        }
                        .nutricionPage-parrafoSangria::before{
                        }

                .nutricionPage-imagenes-container{
                width: 390px;
                height: 233px;
                }

                        .nutricionImages{
                        }
                        .nutricion-fade-in {
                        }
                        .nutricion-fade-out {
                        }

}



@media only screen and (min-width: 768px) and (max-width: 959px) {

        .nutricionPage-subContainer{
                gap: 2rem;
                font-size: 11px;
                line-height: 18px;
        }

                .nutricionPage-nutricionLogo-container{
                }
        
                        .nutricionPage-nutricionLogo{
                        border-radius: 40px;
                        width: 80px;
                        height: 80px;
                        }

                .nutricionPage-parrafo{
                }

                .nutricionPage-parrafo-conSangria-container{
                }

                        .nutricionPage-parrafoSangria{
                        padding-left: 0.7rem;
                        }
                        .nutricionPage-parrafoSangria::before{
                        }

                .nutricionPage-imagenes-container{
                width: 624px;
                height: 373px;
                }

                        .nutricionImages{
                        }
                        .nutricion-fade-in {
                        }
                        .nutricion-fade-out {
                        }

}




@media only screen and (min-width: 960px) and (max-width: 1199px) {

        .nutricionPage-subContainer{
                gap: 2.5rem;
                font-size: 15px;
                line-height: 23px;
        }

                .nutricionPage-nutricionLogo-container{
                }
        
                        .nutricionPage-nutricionLogo{
                        border-radius: 50px;
                        width: 100px;
                        height: 100px;
                        }

                .nutricionPage-parrafo{
                }

                .nutricionPage-parrafo-conSangria-container{
                }

                        .nutricionPage-parrafoSangria{
                        padding-left: 0.7rem;
                        }
                        .nutricionPage-parrafoSangria::before{
                        }

                .nutricionPage-imagenes-container{
                width: 780px;
                height: 466px;
                }

                        .nutricionImages{
                        }
                        .nutricion-fade-in {
                        }
                        .nutricion-fade-out {
                        }

}




@media only screen and (min-width: 1200px) {

        .nutricionPage-subContainer{
                gap: 3rem;
                font-size: 18px;
                line-height: 28px;
        }

                .nutricionPage-nutricionLogo-container{
                }
        
                        .nutricionPage-nutricionLogo{
                        border-radius: 60px;
                        width: 125px;
                        height: 125px;
                        }

                .nutricionPage-parrafo{
                }

                .nutricionPage-parrafo-conSangria-container{
                }

                        .nutricionPage-parrafoSangria{
                        padding-left: 1rem;
                        }
                        .nutricionPage-parrafoSangria::before{
                        }

                .nutricionPage-imagenes-container{
                width: 975px;
                height: 583px;
                }

                        .nutricionImages{
                        }
                        .nutricion-fade-in {
                        }
                        .nutricion-fade-out {
                        }

}

        