.JuegoParrafoConSangria-Principal-Container{
    background-color: aqua;
    position: relative;
    text-align: justify;
}   

.JuegoParrafoConSangria-Principal-Container::before{
    font-weight: bold;
    position: absolute;
    content: '-';
}        




@media (max-width: 480px) {

    .JuegoParrafoConSangria-Principal-Container{
        font-size: 5px;
        line-height: 8px;
        padding-left: 0.4rem;
    }

    .JuegoParrafoConSangria-Principal-Container::before{
        left: 0px; 
    }  

}




@media only screen and (min-width: 481px) and (max-width: 767px) {

    .JuegoParrafoConSangria-Principal-Container{
        font-size: 7px;
        line-height: 10px;
        padding-left: 0.5rem;
    }

    .JuegoParrafoConSangria-Principal-Container::before{
        left: 0px; 
    }  

}




@media only screen and (min-width: 768px) and (max-width: 959px) {

    .JuegoParrafoConSangria-Principal-Container{
        font-size: 11px;
        line-height: 18px;
        padding-left: 0.8rem;
    }

    .JuegoParrafoConSangria-Principal-Container::before{
        left: 0px; 
    }  

}




@media only screen and (min-width: 960px) and (max-width: 1199px) {

    .JuegoParrafoConSangria-Principal-Container{
        font-size: 15px;
        line-height: 23px;
        padding-left: 1.1rem;
    }

    .JuegoParrafoConSangria-Principal-Container::before{
        left: 0px; 
    }  

}




@media only screen and (min-width: 1200px) {

    .JuegoParrafoConSangria-Principal-Container{
        font-size: 18px;
        line-height: 28px;
        padding-left: 1.3rem;
    }

    .JuegoParrafoConSangria-Principal-Container::before{
        left: 0px; 
    }  

}