    .Lullaby-logo {
        position: relative;
        top: 9px;
        left: -22px;
        width: 84px;
        height: 68px;
        background-image: url('../../../Images/Header/lullabyLogo.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 2;
        cursor: pointer;
        background-color: bisque;
        border-radius: 50px;
    }