@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

.App-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('Images/App/FondoApp.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  align-items: center;
}

