@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.App-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  background-image: url('Images/App/FondoApp.png');
  background-position: center;
  background-size: 100% 100%;
  background-attachment: local;
}
/* .App-container {
  background-image: url('Images/App/FondoApp.png');
  background-position: center;
  background-size: cover;
  background-attachment: local;
} */






.head{
  z-index: 99;
  width: 100%;
}

.main-container{
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
}






@media (max-width: 480px) {

  .App-container {
    /* background-color: rgb(236, 179, 167); */
    /* background-attachment: scroll;  */
  }

}



@media only screen and (min-width: 481px) and (max-width: 767px) {

  .App-container {
    /* background-color: rgb(31, 183, 117); */
    /* background-attachment: scroll;  */
  }

}



@media only screen and (min-width: 768px) and (max-width: 959px) {

  .App-container {
    /* background-color: rgb(12, 41, 137); */
    /* background-attachment: fixed; */
  }

}



@media only screen and (min-width: 960px) and (max-width: 1199px) {

  .App-container {
    /* background-color: rgb(174, 0, 255); */
    /* background-attachment: fixed; */
  }

}



@media only screen and (min-width: 1200px) {

  .App-container {
    /* background-color: rgb(255, 242, 0); */
    /* background-attachment: fixed; */
  }

}

