.MusicaComponentLogoInfo-diplay-flex-column{
    display: flex;
    flex-direction: column;
}

.MusicaComponentLogoInfo-imagenRepeatPositionSize{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.MusicaComponentLogoInfo-Principal-Container{
    /* background-color: rgba(98, 98, 246, 0.5); */
    align-items: center;
    position: relative;
    overflow: hidden;
}

        .MusicaComponentLogoInfo-nube-Container{
            /* background-color: rgb(240, 198, 143, 0.5); */
        }

        .MusicaComponentLogoInfo-nube{
            background-image: url('../../../../Images/proyecto/aulasNube.png');
            z-index: 1;
            top: 0px;
        }

        .MusicaComponentLogoInfo-titulo{
            background-image: url('../../../../Images/proyecto/musica/musica.png');
            position: absolute;
            z-index: 2;
            cursor: pointer;
        }






@media (max-width: 480px) {

    .MusicaComponentLogoInfo-diplay-flex-column{
    }
    
    .MusicaComponentLogoInfo-imagenRepeatPositionSize{
    }
    
    .MusicaComponentLogoInfo-Principal-Container{
        width: 130px;
        height: 84.5px;
    }
    
            .MusicaComponentLogoInfo-nube-Container{
                margin-top: 7px;
            }

            .MusicaComponentLogoInfo-nube{
                width: 107px;
                height: 61px;
            }
    
            .MusicaComponentLogoInfo-titulo{
                width: 61px;
                height: 42px;
                top: 17px;
            }
    
}



@media only screen and (min-width: 481px) and (max-width: 767px) {

    .MusicaComponentLogoInfo-diplay-flex-column{
    }
    
    .MusicaComponentLogoInfo-imagenRepeatPositionSize{
    }
    
    .MusicaComponentLogoInfo-Principal-Container{
        width: 194px;
        height: 122.5px;
    }
    
            .MusicaComponentLogoInfo-nube-Container{
                margin-top: 10px;
            }

            .MusicaComponentLogoInfo-nube{
                width: 160px;
                height: 91px;
            }
    
            .MusicaComponentLogoInfo-titulo{
                width: 91px;
                height: 62px;
                top: 25px;
            }

}



@media only screen and (min-width: 768px) and (max-width: 959px) {

    .MusicaComponentLogoInfo-diplay-flex-column{
    }
    
    .MusicaComponentLogoInfo-imagenRepeatPositionSize{
    }
    
    .MusicaComponentLogoInfo-Principal-Container{
        width: 308px;
        height: 194px;
    }
    
            .MusicaComponentLogoInfo-nube-Container{
                margin-top: 17px;
            }

            .MusicaComponentLogoInfo-nube{
                width: 257px;
                height: 146px;
            }
    
            .MusicaComponentLogoInfo-titulo{
                width: 146px;
                height: 100px;
                top: 40px;
            }

}



@media only screen and (min-width: 960px) and (max-width: 1199px) {

    .MusicaComponentLogoInfo-diplay-flex-column{
    }
    
    .MusicaComponentLogoInfo-imagenRepeatPositionSize{
    }
    
    .MusicaComponentLogoInfo-Principal-Container{
        width: 385px;
        height: 244px;
    }
    
            .MusicaComponentLogoInfo-nube-Container{
                margin-top: 22px;
            }

            .MusicaComponentLogoInfo-nube{
                width: 322px;
                height: 183px;
            }
    
            .MusicaComponentLogoInfo-titulo{
                width: 183px;
                height: 125px;
                top: 51px;
            }

}



@media only screen and (min-width: 1200px) {

    .MusicaComponentLogoInfo-diplay-flex-column{
    }
    
    .MusicaComponentLogoInfo-imagenRepeatPositionSize{
    }
    
    .MusicaComponentLogoInfo-Principal-Container{
        width: 480px;
        height: 304px;
    }
    
            .MusicaComponentLogoInfo-nube-Container{
                margin-top: 30px;
            }

            .MusicaComponentLogoInfo-nube{
                width: 401px;
                height: 228px;
            }
    
            .MusicaComponentLogoInfo-titulo{
                width: 228px;
                height: 156px;
                top: 68px;
            }

}